<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    <H1>States</H1>
    <UL>
      
      <LI>0e391e25-dd3a-45f4-bce3-4d1dea83f3c7: <B>Alabama</B></LI>
        <UL>
          
	  <LI>f01c88dc-9f08-4b32-a1c1-625fb1e44972: <B>Akron</B></LI>
	  
	  <LI>94f16095-5ce6-4bec-8114-d1f3fa6f2b16: <B>Babbie</B></LI>
	  
	  <LI>660c9bbd-76c4-454f-b9a4-87efab0e948f: <B>Calera</B></LI>
	  
	  <LI>f14fefb3-c6e4-42f6-8a5a-ee704a101f8b: <B>Fairfield</B></LI>
	  
	</UL>
      
      <LI>459e021a-e794-447d-9dd2-e03b7963f7d2: <B>Arizona</B></LI>
        <UL>
          
	  <LI>1721b75c-e0b2-46ae-8dd2-f86b62fb46e6: <B>Douglas</B></LI>
	  
	  <LI>1aef765c-3c91-47aa-a716-ffd3b8d748df: <B>Kearny</B></LI>
	  
	  <LI>14e2f358-f8fb-419c-8e8f-0017f971d82d: <B>Tempe</B></LI>
	  
	</UL>
      
      <LI>9799648d-88dc-4e63-b858-32e6531bec5c: <B>California</B></LI>
        <UL>
          
	  <LI>3308ceb8-8e99-4abb-9c2a-a6446eaf01f7: <B>Fremont</B></LI>
	  
	  <LI>d96b80e3-2c05-4fb6-922e-36643005a530: <B>Napa</B></LI>
	  
	  <LI>05b0b99c-f10e-4e3a-88d1-b3187d6998ee: <B>San Francisco</B></LI>
	  
	  <LI>33c525b5-f087-421c-946d-ba8c7a1c2efe: <B>San Jose</B></LI>
	  
	  <LI>6a1ea750-b16f-4814-ad7e-9f25e3843f53: <B>Sonoma</B></LI>
	  
	</UL>
      
      <LI>f8d21261-3e79-4f5c-829a-99d7452cd73c: <B>Colorado</B></LI>
        <UL>
          
	  <LI>5481bd82-04ab-4a58-ae01-d67443aec20c: <B>Denver</B></LI>
	  
	</UL>
      
      <LI>5976f0e7-5c5f-4949-aae0-90d68fd239c0: <B>Florida</B></LI>
        <UL>
          
	  <LI>dacec983-cec4-4f68-bd7f-af9068a305f5: <B>Miami</B></LI>
	  
	  <LI>712ffb97-b0eb-42f9-8cb9-69548882ab5d: <B>Orlando</B></LI>
	  
	</UL>
      
      <LI>541bba6e-9543-4b33-8062-77ef26cd9778: <B>Hawaii</B></LI>
        <UL>
          
	  <LI>79ff14a4-1888-4cd3-8a31-230fa34bfa00: <B>Honolulu</B></LI>
	  
	  <LI>5e061866-d4ad-4aa7-befe-2bf5f8698e29: <B>Kailua</B></LI>
	  
	  <LI>44e7a911-2c16-4dc0-ad68-9ae0412afc21: <B>Pearl city</B></LI>
	  
	</UL>
      
      <LI>d2398800-dd87-482b-be21-50a3063858ad: <B>Illinois</B></LI>
        <UL>
          
	  <LI>4a0c57bb-60da-450c-afcf-c59be4c05e67: <B>Chicago</B></LI>
	  
	  <LI>14e49d0b-7363-40e3-8854-a89e96481f67: <B>Joliet</B></LI>
	  
	  <LI>c5bbe76a-87f0-44f8-8b4d-e805e6cd757c: <B>Naperville</B></LI>
	  
	  <LI>b695fcb4-7e61-420c-aa22-d1651cde13dc: <B>Peoria</B></LI>
	  
	  <LI>492cc20d-21b4-474b-a727-e1981cfc49d5: <B>Urbana</B></LI>
	  
	</UL>
      
      <LI>2b9a4627-8a9e-4f32-a752-9a84fa7f4efd: <B>Louisiana</B></LI>
        <UL>
          
	  <LI>e4e40a6e-59ff-4b4f-ab72-d6d100201588: <B>Baton rouge</B></LI>
	  
	  <LI>45903748-fa39-4cd0-8a0b-c62bfe471702: <B>Lafayette</B></LI>
	  
	  <LI>1da255c0-f023-4779-8134-2b1b40f87683: <B>New Orleans</B></LI>
	  
	</UL>
      
      <LI>b5fc9076-6c20-44a7-ac9b-97de17112329: <B>Minnesota</B></LI>
        <UL>
          
	  <LI>36bff3a3-e3b3-41b9-a6b5-ab2185a8cdf0: <B>Saint Paul</B></LI>
	  
	</UL>
      
      <LI>bbee73a7-2f71-47e6-938a-2d9e932d4ff9: <B>Mississippi</B></LI>
        <UL>
          
	  <LI>3ffd4ed8-b645-46bc-8bc3-40c0e51f2b44: <B>Jackson</B></LI>
	  
	  <LI>c49639ab-d287-40ec-8a31-76b493cd9a3a: <B>Meridian</B></LI>
	  
	  <LI>f3923bdf-81f2-45e9-a5e1-fd128e122d45: <B>Tupelo</B></LI>
	  
	</UL>
      
      <LI>10098698-bace-4bfb-8c0a-6bae0f7f5b8f: <B>Oregon</B></LI>
        <UL>
          
	  <LI>a5e4fa5a-2a0d-4c7c-b824-d318409e11e8: <B>Eugene</B></LI>
	  
	  <LI>b11616e0-fa23-4939-bd3f-0e178de3530b: <B>Portland</B></LI>
	  
	</UL>
      
    </UL>
  </BODY>
</HTML>