<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    <H1>States</H1>
    <UL>
      
      <LI>0e391e25-dd3a-45f4-bce3-4d1dea83f3c7: <B>Alabama</B></LI>
      
      <LI>459e021a-e794-447d-9dd2-e03b7963f7d2: <B>Arizona</B></LI>
      
      <LI>9799648d-88dc-4e63-b858-32e6531bec5c: <B>California</B></LI>
      
      <LI>f8d21261-3e79-4f5c-829a-99d7452cd73c: <B>Colorado</B></LI>
      
      <LI>5976f0e7-5c5f-4949-aae0-90d68fd239c0: <B>Florida</B></LI>
      
      <LI>541bba6e-9543-4b33-8062-77ef26cd9778: <B>Hawaii</B></LI>
      
      <LI>d2398800-dd87-482b-be21-50a3063858ad: <B>Illinois</B></LI>
      
      <LI>2b9a4627-8a9e-4f32-a752-9a84fa7f4efd: <B>Louisiana</B></LI>
      
      <LI>b5fc9076-6c20-44a7-ac9b-97de17112329: <B>Minnesota</B></LI>
      
      <LI>bbee73a7-2f71-47e6-938a-2d9e932d4ff9: <B>Mississippi</B></LI>
      
      <LI>10098698-bace-4bfb-8c0a-6bae0f7f5b8f: <B>Oregon</B></LI>
      
    </UL>
  </BODY>
</HTML>